<p id="notice"><%= notice %></p>

<h1>Searching Results </h1>

<% if @user.nil? %>
  <% provide(:title, 'Not found') %>
  No user with that name has been found.
<% else %>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Email</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <%# @users.each do |user| %>
      <tr>
        <td><%#= user.name %></td>
        <td><%#= user.email %></td>
      </tr>
    <%# end %>
  </tbody>
</table>
<%# = will_paginate(@users) %>
<% end %>
<br>
<br>
<%= link_to 'Back', search_users_path %> 
<%= link_to 'Home', users_path %>
